@import "vars";
@import "fonts";
@import "../fonts/icomoon/style.css";
@import "global";
@import "elements";
@import "typo";
@tailwind base;
@tailwind components;
@tailwind utilities;
.MuiAppBar-colorPrimary {
	background-color: transparent !important;
}
.MuiContainer-root {
	max-width: 100% !important;
	padding-left: 0px !important;
	padding-right: 0px !important;
}
.MuiContainer-root.MuiContainer-maxWidthLg {
	background-color: transparent !important;
	box-shadow: none !important;
	border-bottom: 1px solid #4f89fc;
}
.chat-scroll > button {
	width: 30px !important;
	height: 30px !important;
	background-color: #00ba9d !important;
	border-radius: 30px !important;
	bottom: 15px !important;
	right: 15px !important;
	&::before {
		content: "Ë…";
		font-size: 18px !important;
		font-weight: 700 !important;
		color: white !important;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
	}
}

.message-send-div {
	height: 85px;
	width: 100%;
	gap: 10px;
	display: flex;
	flex-direction: row; /* default: row for < 1024px */
	justify-content: space-between;
	align-items: center;
	background-color: #1c1416;
	border-top: 1px solid #00ba9d;
}
.messageContainer::-webkit-scrollbar {
	width: 8px;
}

.messageContainer::-webkit-scrollbar-track {
	background: transparent;
	border-radius: 10px;
}

.messageContainer::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 10px;
}

.messageContainer::-webkit-scrollbar-thumb:hover {
	background: #555;
}
@media (max-width: 1280px) {
	.MuiContainer-root {
		padding-left: 15px !important;
		padding-right: 15px !important;
	}
}
